.content
  h2 Lily
  .grid
    figure.effect-lily
      img(src='img/12.jpg', alt='img12')
      figcaption
        div
          h2
            | Nice 
            span Lily
          p Lily likes to play with crayons and pencils
        a(href='#') View more
    figure.effect-lily
      img(src='img/1.jpg', alt='img1')
      figcaption
        div
          h2
            | Nice 
            span Lily
          p Lily likes to play with crayons and pencils
        a(href='#') View more
  h2 Sadie
  .grid
    figure.effect-sadie
      img(src='img/2.jpg', alt='img02')
      figcaption
        h2
          | Holy 
          span Sadie
        p
          | Sadie never took her eyes off me. 
          br
          | She had a dark soul.
        a(href='#') View more
    figure.effect-sadie
      img(src='img/14.jpg', alt='img14')
      figcaption
        h2
          | Holy 
          span Sadie
        p
          | Sadie never took her eyes off me. 
          br
          | She had a dark soul.
        a(href='#') View more
  h2 Honey
  .grid
    figure.effect-honey
      img(src='img/4.jpg', alt='img04')
      figcaption
        h2
          | Dreamy 
          span Honey
          i Now
        a(href='#') View more
    figure.effect-honey
      img(src='img/5.jpg', alt='img05')
      figcaption
        h2
          | Dreamy 
          span Honey
          i Now
        a(href='#') View more
  h2 Layla
  .grid
    figure.effect-layla
      img(src='img/6.jpg', alt='img06')
      figcaption
        h2
          | Crazy 
          span Layla
        p When Layla appears, she brings an eternal summer along.
        a(href='#') View more
    figure.effect-layla
      img(src='img/3.jpg', alt='img03')
      figcaption
        h2
          | Crazy 
          span Layla
        p When Layla appears, she brings an eternal summer along.
        a(href='#') View more
  h2 Zoe
  .grid
    figure.effect-zoe
      img(src='img/25.jpg', alt='img25')
      figcaption
        h2
          | Creative 
          span Zoe
        p.icon-links
          a(href='#')
            span.icon-heart
          a(href='#')
            span.icon-eye
          a(href='#')
            span.icon-paper-clip
        p.description
          | Zoe never had the patience of her sisters. She deliberately punched the bear in his face.
    figure.effect-zoe
      img(src='img/26.jpg', alt='img26')
      figcaption
        h2
          | Creative 
          span Zoe
        p.icon-links
          a(href='#')
            span.icon-heart
          a(href='#')
            span.icon-eye
          a(href='#')
            span.icon-paper-clip
        p.description
          | Zoe never had the patience of her sisters. She deliberately punched the bear in his face.
  h2 Oscar
  .grid
    figure.effect-oscar
      img(src='img/9.jpg', alt='img09')
      figcaption
        h2
          | Warm 
          span Oscar
        p Oscar is a decent man. He used to clean porches with pleasure.
        a(href='#') View more
    figure.effect-oscar
      img(src='img/10.jpg', alt='img10')
      figcaption
        h2
          | Warm 
          span Oscar
        p Oscar is a decent man. He used to clean porches with pleasure.
        a(href='#') View more
  h2 Marley
  .grid
    figure.effect-marley
      img(src='img/11.jpg', alt='img11')
      figcaption
        h2
          | Sweet 
          span Marley
        p Marley tried to convince her but she was not interested.
        a(href='#') View more
    figure.effect-marley
      img(src='img/12.jpg', alt='img12')
      figcaption
        h2
          | Sweet 
          span Marley
        p Marley tried to convince her but she was not interested.
        a(href='#') View more
  h2 Ruby
  .grid
    figure.effect-ruby
      img(src='img/13.jpg', alt='img13')
      figcaption
        h2
          | Glowing 
          span Ruby
        p Ruby did not need any help. Everybody knew that.
        a(href='#') View more
    figure.effect-ruby
      img(src='img/14.jpg', alt='img14')
      figcaption
        h2
          | Glowing 
          span Ruby
        p Ruby did not need any help. Everybody knew that.
        a(href='#') View more
  h2 Roxy
  .grid
    figure.effect-roxy
      img(src='img/15.jpg', alt='img15')
      figcaption
        h2
          | Charming 
          span Roxy
        p Roxy was my best friend. She'd cross any border for me.
        a(href='#') View more
    figure.effect-roxy
      img(src='img/1.jpg', alt='img01')
      figcaption
        h2
          | Charming 
          span Roxy
        p Roxy was my best friend. She'd cross any border for me.
        a(href='#') View more
  h2 Bubba
  .grid
    figure.effect-bubba
      img(src='img/2.jpg', alt='img02')
      figcaption
        h2
          | Fresh 
          span Bubba
        p Bubba likes to appear out of thin air.
        a(href='#') View more
    figure.effect-bubba
      img(src='img/16.jpg', alt='img16')
      figcaption
        h2
          | Fresh 
          span Bubba
        p Bubba likes to appear out of thin air.
        a(href='#') View more
  h2 Romeo
  .grid
    figure.effect-romeo
      img(src='img/17.jpg', alt='img17')
      figcaption
        h2
          | Wild 
          span Romeo
        p Romeo never knows what he wants. He seemed to be very cross about something.
        a(href='#') View more
    figure.effect-romeo
      img(src='img/18.jpg', alt='img18')
      figcaption
        h2
          | Wild 
          span Romeo
        p Romeo never knows what he wants. He seemed to be very cross about something.
        a(href='#') View more
  h2 Dexter
  .grid
    figure.effect-dexter
      img(src='img/19.jpg', alt='img19')
      figcaption
        h2
          | Strange 
          span Dexter
        p Dexter had his own strange way. You could watch him training ants.
        a(href='#') View more
    figure.effect-dexter
      img(src='img/12.jpg', alt='img12')
      figcaption
        h2
          | Strange 
          span Dexter
        p Dexter had his own strange way. You could watch him training ants.
        a(href='#') View more
  h2 Sarah
  .grid
    figure.effect-sarah
      img(src='img/13.jpg', alt='img13')
      figcaption
        h2
          | Free 
          span Sarah
        p Sarah likes to watch clouds. She's quite depressed.
        a(href='#') View more
    figure.effect-sarah
      img(src='img/20.jpg', alt='img20')
      figcaption
        h2
          | Free 
          span Sarah
        p Sarah likes to watch clouds. She's quite depressed.
        a(href='#') View more
  h2 Chico
  .grid
    figure.effect-chico
      img(src='img/15.jpg', alt='img15')
      figcaption
        h2
          | Silly 
          span Chico
        p Chico's main fear was missing the morning bus.
        a(href='#') View more
    figure.effect-chico
      img(src='img/4.jpg', alt='img04')
      figcaption
        h2
          | Silly 
          span Chico
        p Chico's main fear was missing the morning bus.
        a(href='#') View more
  h2 Milo
  .grid
    figure.effect-milo
      img(src='img/11.jpg', alt='img11')
      figcaption
        h2
          | Faithful 
          span Milo
        p Milo went to the woods. He took a fun ride and never came back.
        a(href='#') View more
    figure.effect-milo
      img(src='img/3.jpg', alt='img03')
      figcaption
        h2
          | Faithful 
          span Milo
        p Milo went to the woods. He took a fun ride and never came back.
        a(href='#') View more
