.row
  .eight.columns.info.offset-by-two.column
    h1 sq templates
      span #[b sq] is a set of templates to build your websites
      
.row
  .ten.columns.info_text.offset-by-one.column
    p
      | It's composed by gulp , jade , stylus and coffeescript
      | keeping in mind to make your workflow faster and well structured.
      | sq aims to have a DRY paradign resulting on minimalistic design websites.



//- .row.templates
//-   .three.columns
//-       img(src="http://lorempixel.com/g/300/220/")
//-   .three.columns
//-       img(src="http://lorempixel.com/g/300/220/")
//-   .three.columns
//-       img(src="http://lorempixel.com/g/300/220/")
//-   .three.columns
//-       img(src="http://lorempixel.com/g/300/220/")
//-   

.templates
  .row
    .img_container
      img(src="http://lorempixel.com/300/220/people/2")
    .img_container
      img(src="http://lorempixel.com/300/220/people/3")
    .img_container
      img(src="http://lorempixel.com/300/220/people/4")
  .row
    .img_container
      .img_html
         p hola que haces
      img(src="http://lorempixel.com/300/220/people/5")

    .img_container
      img(src="http://lorempixel.com/300/220/people/6")
    .img_container
      img(src="http://lorempixel.com/300/220/people/7")
  .row
    .img_container
      img(src="http://lorempixel.com/300/220/people/8")
    .img_container
      img(src="http://lorempixel.com/300/220/people/9")
    .img_container
      img(src="http://lorempixel.com/300/220/people/10")  
