.row
  .eight.columns.info.offset-by-two.column
    h1 sq templates
      span #[b sq] is a set of templates to build your websites
      
.row
  .ten.columns.info_text.offset-by-one.column
    p
      | It's composed by gulp , jade , stylus and coffeescript
      | keeping in mind to make your workflow faster and well structured.
      | sq aims to have a DRY paradign resulting on minimalistic design websites.



//- .row.templates
//-   .three.columns
//-       img(src="http://lorempixel.com/g/300/220/")
//-   .three.columns
//-       img(src="http://lorempixel.com/g/300/220/")
//-   .three.columns
//-       img(src="http://lorempixel.com/g/300/220/")
//-   .three.columns
//-       img(src="http://lorempixel.com/g/300/220/")
//-   

.templates
  .row
      img(src="http://lorempixel.com/a/300/220/")
      img(src="http://lorempixel.com/b/300/220/")
      img(src="http://lorempixel.com/c/300/220/")
  .row
      img(src="http://lorempixel.com/d/300/220/")
      img(src="http://lorempixel.com/e/300/220/")
      img(src="http://lorempixel.com/f/300/220/")
  .row
      img(src="http://lorempixel.com/g/300/220/")
      img(src="http://lorempixel.com/h/300/220/")
      img(src="http://lorempixel.com/i/300/220/")
  .row
      img(src="http://lorempixel.com/j/300/220/")
  
