.row
  .eight.columns.info.offset-by-two.column
    h4 Basic Page
    p
      | #[b sq] is a set of templates to build your websites
    p 
      | It's composed by gulp , jade , stylus and coffee script
      | keeping in mind to make your workflow faster and well structured.
      | sq aims to have a DRY paradign resulting on minimalistic design websites.
