// Related demos
section.related
  p
    | Images from 
    a(href='http://unsplash.com/') Unsplash
    | . 
    a(href='https://gumroad.com/l/feather') Feather Icons
    |  by Cole Bemis.
  p
    strong If you enjoyed this demo you might also like:
  a(href='http://tympanus.net/Tutorials/CaptionHoverEffects/')
    img(src='http://tympanus.net/codrops/wp-content/uploads/2013/06/CaptionHoverEffect-300x162.png')
    h3 Caption Hover Effects
  a(href='http://tympanus.net/Tutorials/ShapeHoverEffectSVG/')
    img(src='http://tympanus.net/codrops/wp-content/uploads/2014/01/ShapeHoverEffect-300x162.png')
    h3 Shape Hover Effects
