// Top Navigation
.codrops-top.clearfix
  a.codrops-icon.codrops-icon-prev(href='http://tympanus.net/Tutorials/FourBoxes/')
    span Previous Demo
  span.right
    a.codrops-icon.codrops-icon-drop(href='http://tympanus.net/codrops/?p=19292')
      span Back to the Codrops Article
header.codrops-header
  h1
    | Hover Effect Ideas 
    span An inspirational collection of subtle hover effects
  nav.codrops-demos
    a.current-demo(href='index.html') Set 1
    a(href='index2.html') Set 2
