doctype html
html.no-js(lang='en')
  head
    include ./index/head_content.jade
  body
    .container
      include ./index/top_navigation.jade
      include ./index/content.jade
      include ./index/codrops_demos.jade
      include ./index/related.jade
