doctype html
html.no-js(lang='en')
  head
    include ./set2/head_content.jade
  body
    .container
      //- include ./set2/top_navigation.jade
      include ./set2/content.jade
      //- include ./set2/codrops_demos.jade
      //- include ./set2/related.jade
