/*
* Skeleton V2.0.4
* Copyright 2014, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 12/29/2014
*/

grid_max_width = 960px
base_font_family = "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif

@import "skeleton/01.grid.styl"
@import "skeleton/02.base.styl"
@import "skeleton/03.typography.styl"
@import "skeleton/04.links.styl"
@import "skeleton/05.buttons.styl"
@import "skeleton/06.forms.styl"
@import "skeleton/07.lists.styl"
@import "skeleton/08.code.styl"
@import "skeleton/09.tables.styl"
@import "skeleton/10.spacing.styl"
@import "skeleton/11.utilities.styl"
@import "skeleton/12.misc.styl"
@import "skeleton/13.clearing.styl"
@import "skeleton/14.mediaqueries.styl"
